@model Point_Of_Sales.Entities.Product

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h1>Create</h1>

    <h4>Product</h4>
    <hr />
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Barcode" class="control-label"></label>
                    <input asp-for="Barcode" class="form-control" />
                    <span asp-validation-for="Barcode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Product_Name" class="control-label">Product Name</label>
                    <input asp-for="Product_Name" class="form-control" />
                    <span asp-validation-for="Product_Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Import_Price" class="control-label">Import Price</label>
                    <input asp-for="Import_Price" class="form-control" />
                    <span asp-validation-for="Import_Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Retail_Price" class="control-label">Retail Price</label>
                    <input asp-for="Retail_Price" class="form-control" />
                    <span asp-validation-for="Retail_Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Category" class="control-label">Category</label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-3 d-flex">
                <a asp-action="Index" class="btn btn-danger mr-3">Back to List</a>
                <button type="submit" value="Create" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
