@model Point_Of_Sales.Entities.Account

@{
    ViewData["Title"] = "Change Password";
}

<div class="container d-flex  justify-content-center mt-5">
    <div class="card row flex-row justify-content-center mt-4" style="width: 500px">
        <div class="col-md-8">
            <h3 class="text-center py-1" style="color: #005f73">Change Password</h3>
            <h5 class="text-center py-1" style="color: #6c584c">@Model.Employee.Fullname</h5>
            <form asp-action="ChangePassword" method="post" class="w-100 mx-0">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Current password</label>
                    <input name="CurPwd" class="form-control" />

                </div>
                <div class="form-group">
                    <label class="control-label">New password</label>
                    <input name="NewPwd" class="form-control" />

                </div>
                <div class="form-group">
                    <label class="control-label">Confirm new password</label>
                    <input name="Confirm" class="form-control" />
                </div>

                <div class="form-group text-danger text-center" style="font-size: 14px">
                    @(TempData["Message"] ?? "")
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn text-white w-100" style="background-color: #005f73" />
                </div>
            </form>
        </div>
    </div>
</div>



