@model Point_Of_Sales.Models.AccountModel

@{
    ViewData["Title"] = "POS | Create";
    var IsAdmin = User.IsInRole("Admin");
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="col-md-6">
            <div class="form-group">
                <label for="StoreId" class="control-label">Store</label>
                <select name="RetailStoreId" id="StoreId" class="form-control">
                    @foreach (var store in ViewBag.Stores)
                    {
                        <option value="@store.Id">@store.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="fname" class="control-label">Full name: *</label>
                <input name="Fullname" id="fname" class="form-control" required />
            </div>
        </div> <div class="col-md-6">
            <div class="form-group">
                <label for="email" class="control-label">Email: *</label>
                <input type="email" id="email" name="Email" class="form-control" required />
                <span class="text-danger">@ViewBag.Message</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                @if(IsAdmin){
                    <input asp-for="Role" readonly class="form-control" value="Employee" />
                }else{
                    <input asp-for="Role" readonly class="form-control" value="Admin" />
                }
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
        </div>


        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
