@{
    Layout = "/Views/Shared/_Layout_Simple.cshtml";
}
@{
    ViewData["Title"] = "Login";
}

<section class="container gradient-custom vh-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form id="loginForm" method="POST" action="">
                            <div class="mb-md-2 mt-md-2 pb-1">
                                <img src="./images/logo.png" class="logo" alt="logo" width="15%">
                                <br><br>
                                <h1 class="fw-bold mb-2 text-uppercase">Log in</h1>
                                @if (ViewBag.Message != null)
                                {
                                    <p class="alert text-danger mb-1">
                                        @ViewBag.Message
                                    </p>
                                }
                                else
                                {
                                    <p class="text-white-50 mb-5">
                                        Please enter your username and password!
                                    </p>
                                }
                                <div class="form-white input-group mb-3">
                                    <label for="username" class="input-group-text">Username</label>
                                    <input type="text" class="form-control form-control-lg" id="username" placeholder="Please enter your username" name="username" required />
                                </div>

                                <div class="form-white input-group mb-3">
                                    <label for="password" class="input-group-text">Password</label>
                                    <input type="password" class="form-control form-control-lg" id="password" placeholder="Please enter your password" name="password" required />
                                </div>
                                <button class="btn text-white px-5 mt-4" id="btn-login" type="submit" style="background-color:#005f73">Log in</button>
                                @*<div class=" justify-content-between align-items-center">
                                <a href="./forgotPassword.html" class="text-white-50 fw-bold">
                                Forget
                                Password
                                </a>
                                </div>*@
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>