body{
    background-color: #E0EEEE;
  }
  form h1{
    color:#97ebad;
    font-size: 40px;
  }
  .input-group-text, input {
    width: auto;
    background-color: lightgray;
    font-weight:bold;
    border-right: 2px solid black;
    }

    @media screen and (min-width: 768px) and (max-width: 992px){
      .input-group-text, input {
        width: auto;
        background-color: lightgray;
        font-weight:bold;
        border-right: 2px solid black;
        font-size: 15px;
        }
  
    }


    /*- Với độ phân giải màn hình nhỏ hơn 768px: */
    @media screen and (max-width: 768px) {
      .input-group-text, input {
        width: auto;
        background-color: lightgray;
        font-weight:bold;
        border-right: 2px solid black;
        font-size: 15px;

        }
    }

