<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change account's password</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link href="../public/stylesheets/changePassword.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>

<body>
    <div id="nav"></div>

    <section>
        <form id="changePasswordForm" method="POST" action="/account/changePassword">
            <h1>Change Password</h1>
            <label for="currentPassword">Current password:</label><br>
            <input type="password" id="currentPassword" name="currentPassword"
                placeholder="Please enter your current password" required>
            <label for="newPassword">New password:</label><br>
            <input type="password" id="newPassword" name="newPassword" placeholder="Please enter new password" required>
            <label for="confirmPassword">Confirm new password:</label><br>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Please confirm password"
                required><br>
            <!-- <% if (error.length> 0 ) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %> -->
            <button type="submit">Save Change</button>
        </form>
    </section>
    <div id="footer"></div>

    <script>
        $(function () {
            //import navbar and footer
            $("#nav").load("./nav.html");
            $("#footer").load("./footer.html");
        });
    </script>
</body>

</html>